<!DOCTYPE html>
<html>
<head>
  <title>Mongo Scraper!</title>
  <link rel="stylesheet" type="text/css" href="/assets/js/css/style.css">
  <script type="text/javascript" src="/assets/js/app.js"></script>
</head>
<body>
  {{{ body }}}
</body>
</html>